body {
    font-family: "PT Sans", Tahoma, sans-serif;
    color: #494c64;
}
/* Navbar */
.navbar-light .navbar-nav .nav-link {
    text-transform: uppercase;
    font-weight: bold;
    color: #494c64;
    font-size: 0.9rem;
}
  
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:active,
.navbar-light .navbar-nav .nav-link.active {
    color: #f7d14b;
}

/* Section heading */
.section-heading h2 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.5rem;
  line-height: 2.3rem;
}

.section-heading h2 {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.section-heading h2:before,
.section-heading h2:after {
  content: '';
  border-top: 1px solid #ebebeb;
  margin: 0 20px 0 0;
  flex: 1 0 20px;
}

.section-heading h2:after {
  margin: 0 0 0 20px;
}

/* Hero section */
.section__hero {
    background: url("/img/hero-bg.jpg") no-repeat center;
    width: 100%;
    height: 600px;
		background-size: cover;				
}

.section__hero h1 {
    font-size: 2.9rem;
    color: #fafafa;
    border: 4px solid #f7d14b;
    line-height: 3.5rem;
    letter-spacing: 0.1rem;
}

@media (max-width: 575px) {
    .section__hero h1 {
        font-size: 2.2rem;
        line-height: 2.5rem;
        letter-spacing: 0;
    }
}

@media (max-width: 320px) {
    .section__hero h1 {
        font-size: 1.8rem;
        line-height: 2.9rem;
        letter-spacing: 0;
    }
}

/* Lead section */
.section__lead {
	background-color: #fafafa;
	min-height: 400px;
}

.lead__heading {
	font-size: 1.3rem;
	font-weight: bold;
	line-height: 3rem;
}

@media (max-width: 575px) {
	.lead__heading {
		line-height: 2.2rem;
	}
}

.lead__text {
	font-size: 1.2rem;
	line-height: 2.3rem;
	font-family: "Roboto", Tahoma, sans-serif;
	font-weight: 300;
}

@media (max-width: 575px) {
	.lead__text {
		font-size: 1.0rem;
		line-height: 1.8rem;
	}
}

/* Offer section */
/* Cards */
.section__offer .card {
  border: none;
}

.section__offer .card-title,
.section__features .card-title {
  font-size: 1.2rem;
  line-height: 1.8rem;
  text-transform: uppercase;
  font-weight: bold;
}

@media (min-width: 577px) and (max-width: 767px) {
  .section__offer .card-title {
    font-size: 1.05rem;
  }
}

.section__offer .card-text {
  line-height: 1.8rem;
  min-height: 9rem;
}

@media (max-width: 991px) {
  .section__offer .container,
  .section__features .container {
    min-width: 95%;
  }
}

/* Buttons */
.btn {
  width: 100%;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-family: "Roboto", Tahoma, sans-serif;
}

.btn__ghost {
  border: 2px solid #494c64;
  font-weight: 300;
}

.btn__ghost:hover {
  border-color: #f7d14b;
  cursor: pointer;
}
.btn__ghost:active {
  border-color: #afafaf;
}

.btn__cta {
  background-color: #f7d14b;
  color: #fafafa;
  font-weight: bold;
}

.btn__cta:hover {
  background-color: #494c64;
  color: #fafafa;
}

/* Features section */
/* Cards */
.features-list .card {
  border: none;
  background-color: #fafafa;
  border-radius: 15px;
}

.features-list i {
  color: #91a0ac;
  position: relative;
}

.features-list .card-text {
  line-height: 1.7rem;
}

.cta-lead {
  font-size: 1.3rem;
  line-height: 2rem;
}

.btn__contacts {
  background: #f7d14b;
  text-transform: uppercase;
  font-weight: bold;
  color: #fafafa;
  width: 250px;
}

/* Import section */
.section__import {
  background-color: #fafafa;
}

.promo__header {
  font-weight: bold;
  font-size: 1.2rem;
  letter-spacing: 1px;
}

/* Clients section */
.section__clients img {
  max-width: 100%;
}

/* Footer */

.footer {
  min-height: 250px;
  background-color: #f7d14b;
}

.footer-address__heading {
  text-transform: uppercase;
  font-weight: bold;
}

.footer-address__address {
  font-size: 0.7rem;
}

.footer-heading {
  font-weight: bold;
}

.btn__footer {
  background-color: #ebebeb;
  color: #666;
  box-shadow: 0 3px 0 #cfcfcf;
  width: 170px;
  font-size: 0.7rem;
  text-transform: none;
  font-family: "PT Sans", Tahoma, sans-serif;
}

.sitemap-link {
  font-size: 0.7rem;
  color: #494c64;
  padding: 3px;
  border: 1px solid #f7d14b;
  border-radius: 3px;
}

.sitemap-link:hover {
  border-color: #494c64;
  text-decoration: none;
  color: #494c64;
  cursor: pointer;
}

/* Tools page */
/* Hero section */
.section-tools.section__hero {
  background: url("/img/header_tools_white-2.jpg") no-repeat center;
  width: 100%;
  height: 600px;
  background-size: cover;				
}

.section-tools h1,
.section-inserts h1 {
  text-transform: uppercase;
  font-weight: bold;
  line-height: 4.5rem;
}

@media (max-width: 575px) {
 .section-tools h1 {
    font-size: 2.0rem;
    line-height: 2.9rem;
    letter-spacing: 0;
  }
}

@media (max-width: 320px) {
 .section-tools h1 {
    font-size: 1.3rem;
    line-height: 2.9rem;
    letter-spacing: 0;
  }
}

.section__lead {
  min-height: 200px;
  background-color: #fafafa;
}

.section__lead .btn {
  width: 250px;
}

/* Inserts page */
/* Hero section */
.section-inserts.section__hero {
  background: url("/img/header_inserts_white-3.jpg") no-repeat center;
  width: 100%;
  height: 600px;
  background-size: cover;				
}